<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stanley.myapplication" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />

    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
        Google Maps Android API v2, but you must specify either coarse or fine
        location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 获取通话记录所需的权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main2Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-NayCD9ABrfNnu29DNUY5dn3cGSMRwsA" />

        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyD-d0IDc9mGMcp26OaOggvPbB7LA4F6cq4"/> -->


        <!-- <meta-data android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->

        <activity android:name=".Locations.LocationActivity" />
        <activity android:name=".AppUsageActivity" />
        <activity android:name=".Locations.SaveLocActivity" />
        <activity android:name=".contactlist.ContactActivity" />
        <activity
            android:name="com.androidadvance.androidsurvey.SurveyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="Survey"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".contactrecord.ContactrecordActivity" />
        <!-- <activity -->
        <!-- android:name=".Main2Activity" -->
        <!-- android:label="@string/title_activity_main2" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" > -->
        <!-- </activity> -->
        <receiver android:name=".AlarmReceiver" />
        <receiver android:name=".AlarmReceiver2" />
        <receiver android:name=".AlarmReceiver3" />

        <activity android:name=".StartActivities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".StartActivities.QuestionActivity" >
        </activity>
    </application>

</manifest>
